:root {
  --violet: hsl(257, 40%, 49%);
  --soft: hsl(300, 69%, 71%);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-image: url(images/bg-desktop.svg);
  background-size: cover;
  background-color: hsl(257, 40%, 49%);
  font-family: sans-serif;
}

.container {
  display: flex;
  align-items: center;
  padding: 15px;
  margin: 10px;
  justify-content: center;
  width: 1200px;
  max-width: 100%;
}

.logo {
  padding: 10px;
}

.left {
  padding-right: 35px;
}

h1,
p {
  color: white;
}

button {
  color: hsl(300, 69%, 71%);
  background-color: white;
  font-size: 25px;
  padding: 15px 45px 15px 45px;
  border-radius: 20px;
  box-shadow: 3px 3px;
}

button:hover {
  cursor: pointer;
  background-color: hsl(300, 69%, 71%);
  color: white;
}

img {
  max-width: auto;
}

@media screen and (max-width: 760px) {
  body {
    background-image: url(images/bg-mobile.svg);
    background-size: cover;
    margin: 30px auto;
    text-align: center;
  }

  .container {
    flex-direction: column;
  }

  img {
    width: 100%;
  }

  p {
    font-size: 24px;
  }

  .logo {
    width: 35%;
    padding-left: 0px;
  }
}
